# This needs to sync with aider_vision_core/help_pats.py

global-exclude .DS_Store

recursive-exclude aider_vision_core/website/examples *
recursive-exclude aider_vision_core/website/_posts *

exclude aider_vision_core/website/HISTORY.md
exclude aider_vision_core/website/docs/benchmarks*.md
exclude aider_vision_core/website/docs/ctags.md
exclude aider_vision_core/website/docs/unified-diffs.md

exclude aider_vision_core/website/install.ps1
exclude aider_vision_core/website/install.sh

recursive-exclude aider_vision_core/website/docs/leaderboards *
recursive-exclude aider_vision_core/website/assets *
recursive-exclude aider_vision_core/website *.js
recursive-exclude aider_vision_core/website *.html
recursive-exclude aider_vision_core/website *.yml
